{% extends "layout.html" %}

{% block titulo %}
    Lista de art&iacute;culo por búsqueda
{% endblock %}

{% block contenido %}
    <h2>Palabra Buscada: {{palabraBusq}}</h2>
    <ol>
        {% for articuloInfo in listaArticulos %}
            {% if palabraBusq in articuloInfo.tituloArticulo  %}
            <li>
                <a href="{% url 'wikiApp:verArticulo' articuloInfo.id %}">{{ articuloInfo.tituloArticulo }}</a>
            </li>
            {% endif %}
        {% endfor %}
        
    </ol>
    </br></br>
    <a href="{% url 'wikiApp:index' %}"> << Regresar al inicio >></a>
{% endblock %}