{% extends "layout.html" %} 

{% block titulo %}
    Nuevo Tema
{% endblock %}

{% block contenido %}
<h2>Crear nuevo tema</h2>
<form class="row" method="post" action="{% url 'wikiApp:creaTema' %}"> 
    {% csrf_token %}
    <div class="row g-3">
        <div  class="col-12">
            <label class="form-label">Nombre del Tema </label>
            <input type="text" class="form-control" name="nombreTema" placeholder="Tema propuesto">
        </div>
        <div class="col-12">
            <label class="form-label">Descripción del Tema </label>
            <input type="text" class="form-control" name="descripcionTema" placeholder="Describe el tema propuesto">
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-info" value="Enviar"> </br></br>
            <a href="{% url 'wikiApp:index' %}"> << Regresar al inicio >></a>
        </div>
    </div>
</form>
{% endblock %}
