{% extends "layout.html" %} 

{% block titulo %}
    Nuevo Art&iacute;culo
{% endblock %}

{% block contenido %}
<h2>Crear nuevo artículo</h2>
<form class="row" method="post" action="{% url 'wikiApp:creaArticulo' %}"> 
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-12">
            <label class="form-label">Ingrese el título del Artículo </label>
            <input type="text" class="form-control" name="tituloArticulo" placeholder="¿De que hablaremos hoy?">
        </div>
        <div class="col-12">
            <label class="form-label">Selecciona el tema </label>
            <select name="temaRelacionado" class="form-control" >
                {% for temaInfo in temaTodos %}
                    <option value="{{ temaInfo.id }}">{{ temaInfo.nombreTema }}</option>
                {% endfor %} 
            </select>
        </div>
        <div class="col-12">
            <label class="form-label">Ingrese el contenido </label></br>
            <!--<input type="text" name="contenidoArticulo1">-->
            <textarea name="contenidoArticulo" class="form-control" rows="6" cols="50" placeholder="Contenido"></textarea>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-info" value="Enviar"></br></br>
            <a href="{% url 'wikiApp:index' %}"> << Regresar al inicio >></a>
        </div>
    </div>
</form>
{% endblock %}
