{% extends "layout.html" %}

{% block titulo %}
    Lista de art&iacute;culo por tema
{% endblock %}

{% block contenido %}
    <h2>{{objTema.nombreTema}}: Lista de art&iacute;culos</h2>
    <ol>
        {% for articuloInfo in listaArticulos %}
        <li>
            <a href="{% url 'wikiApp:verArticulo' articuloInfo.id %}">({{articuloInfo.id}}) {{ articuloInfo.tituloArticulo }}</a>
            
            <!--<ul>
                <li>Nombre : {{ usuarioInfo.nombreUsuario }}</li>
                <li>Telefono : {{ usuarioInfo.numeroUsuario }}</li>
                <li>Direccion : {{ usuarioInfo.direccionUsuario }}</li>
                <li>Area : {{ usuarioInfo.areaR.nombreArea }}</li>
            </ul>-->
        </li>
        {% endfor %}
        
    </ol>
{% endblock %}